{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 

<table class="table">
    <thead class="thead-dark">  
        <tr>
            <th scope="col">Space ID</th>
            <th scope="col">Space Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">{{lstSpacePython.space_id}}</td>
            <td>{{lstSpacePython.space_name}}</td>
        </tr>
    </tbody>
</table>