{% if lstSpacePython %}
    <ul>
    {% for sapcePython in lstSpacePython %}
        <li><a href="detail/{{sapcePython.space_id}}">{{ sapcePython.space_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No spaces are available.</p>
{% endif %}